.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 48px;
}
.title h3 {
  color: #253d4e;
  font-size: 32px;
  font-weight: 700;
}
.title li {
  color: #253d4e;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}
.title li:hover {
  color: #3bb77e;
}
.p_cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.p_card .image {
  width: 250px;
  height: 250px;
}
.p_card {
  width: 300px;
}
.cost,
.rate {
  display: flex;
}
.p_card h3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
